/ shows all of the listings, and lets the user filter between them

/ div#marketmenu
/     a href="" Monsters 
/     a href="" Food 
/     a href="" Toys 

/ div#market
/     - market.each do |market_listing|
/         li.entry 
/                 h2 #{market_listing['Name']}
/                 a href="" buy 
/                 / a href="" edit 
/                 / only if the user is admin  

/                 p #{market_listing['Description']}
/                 p #{market_listing['Price']}




/ shows all of the listings, and lets the user filter between them
h1 Hi!