* {
    /* background: beige; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgb(125, 74, 38);
    padding-bottom: 7px;
    padding-top: 7px;
}

h1 {
    color: rgb(125, 74, 38);
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 20px;
}
h3 {
    color: rgb(125, 74, 38);
    padding-bottom: 7px;
    padding-top: 7px;
}
h2 {
    color: rgb(125, 74, 38);
    padding-bottom: 15px;
    padding-top: 15px;
}
p {
    color: rgb(165, 121, 55);
    padding-top: 4px;
    padding-bottom: 4px;
}

ul {
    list-style: none;
}

form {
    color: rgb(212, 212, 212);
}

/* layout css */

#body_wrapper {
    display: grid;
    grid-template-areas: 
    "he"
    "ma"
    "fo"
    ;
    --header_height: 70px;
    --body_height: calc(100vh - var(--header_height));
    grid-template-rows: var(--header_height) minmax(var(--body_height), 1fr); /*might break if the page is made shorter*/
    grid-template-columns: minmax(375, 1fr);

}

header {
    grid-area: he;
    background: rgb(212, 161, 85);
    border-bottom: rgb(165, 121, 55) solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px;  */
    /* width: 100vw; */
}

header h1 {
    margin: 15px;
}

header a {
    text-decoration: none;
    color: black;
}

#login_nav_wrapper {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#navlinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    padding-top: 20px;
    right: 0px;
    width: 200px;
    align-items: center;
    background: black;
    transition: all 0.5s;
}

#hamburgermenu {
    /* background: pink; */
    padding: 5px;
    /* i want the gaps at the top and sides to be the same size */
}

.hamburgerline {
    width: 35px;
    height: 6px;
    margin: 6px;
    background: black;
}

/* #nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    right: 0px;
    width: 100%;
    align-items: center;
    background: #6AF9E0;
    transition: all 0.5s;
}
*/
.navactive {
    transform: translateY(90vh);
}

#navlinks li {
    list-style: none;
}

#navlinks a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: rgb(212, 161, 85);
    font-size: 2.125rem;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navlinks a:hover {
    background: none;
    color: antiquewhite;
    background: rgb(165, 121, 55);
    width: 200px;
}

.crossedline #line1 {
    transform: rotate(-45deg) translate(-7px, 10px);
    background: rgb(165, 121, 55);
}

.crossedline #line2 {
    opacity: 0;
}

.crossedline #line3 {
    transform: rotate(45deg) translate(-7px, -10px);
    background: rgb(165, 121, 55);
} 

.login_button {
    background: black;
    color: white;
    padding: 5px;
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: bold;
    border-radius: 15px;
}

.login_button:hover {
    background: bisque;
}

main {
    grid-area: ma;
    background-color: bisque;
    padding: 15px;
    /* padding: 10px; */
}

.entry {
    background-color: rgb(165, 121, 55, 0.2);
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(165, 121, 55);
}

.entry h2 {
    padding-left: 2px;
}

.infobutton {
    width: fit-content;
    padding: 0px 5px 0px 5px;
    border-radius: 15px;
    background-color: rgb(125, 74, 38);
}

.infobutton a {
    text-decoration: none;
}

.infobutton p {
    color: bisque;
}

.infobutton:hover {
    background-color: rgb(212, 161, 85);
}

.infobutton:hover p {
 color: rgb(125, 74, 38);
}

.information {
    color: rgb(165, 121, 55);
    background: rgb(165, 121, 55, 0.2);
    border: rgb(165, 121, 55) 2px solid;
    border-radius: 15px;
}

form {
    color: rgb(125, 74, 38);
}

.exit {
    color: bisque;
    background-color: rgb(125, 74, 38);
    border-radius: 10%;
    border: 2px solid rgb(125, 74, 38);
    padding: 2px;
    /* margin-top: 5px; */
    /* margin-bottom: 5px; */
    width: 40px;
    height: 25px;
    text-align: center;
}

.exit a {
    color: bisque;
    text-decoration: none;
}

.exit:hover {
    background-color: rgb(165, 121, 55, 0.2);
    text-decoration: none;
    text-align: center;
}

.exit:hover a {
    color: rgb(125, 74, 38);
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.information form {
    width: 95%;
    height: fit-content;
    padding: 5px 5px 0px 5px;
}

.information input[type=text] {
    width: 100%;
    margin: 3px;
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
    border-radius: 10px;
    padding: 10px;
}

textarea::placeholder {
    color: rgb(125, 74, 38);
}

input::placeholder {
    color: rgb(125, 74, 38);
}

input {
    color: rgb(125, 74, 38);
}

textarea {
    color: rgb(125, 74, 38);
}

.information textarea {
    width: 100%;
    height: 150px;
    margin: 3px;
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
    border-radius: 10px;
    padding: 10px
}

.type_select select {
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
    border-radius: 5px;
    padding: 2px;
    color: rgb(125, 74, 38);
    margin-bottom: 5px;
}

.information form label {
    margin: 3px;
}

.information input[type="number"] {
    width: 10%;
    margin: 3px;
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
    border-radius: 10px;
    padding: 10px
}

.types_select_foods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.types_select_monsters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5px;
}

.types_select_toys {
    margin-top: 5px;
}

.information input[type="submit"] {
    margin-top: 8px;
    color: bisque;
    background-color: rgb(125, 74, 38);
    border: 2px solid bisque;
    border-radius: 5px;
    padding: 3px;
    width: 60px;
}

.information input[type="submit"]:hover {
    color: rgb(125, 74, 38);
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
}

.deletewrapper {
    display: flex;
    width: 95%;
}

.delete input[type=submit] {
    color: bisque;
    background-color: rgb(125, 74, 38);
    border: 2px solid bisque;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 60px;
}
.delete input[type=submit]:hover {
    color: rgb(125, 74, 38);
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
}

#monsterinfo {
    background-color: rgb(165, 121, 55, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(165, 121, 55);
}

#foodinfo {
    background-color: rgb(165, 121, 55, 0.2);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(165, 121, 55);
}

#toyinfo {
    background-color: rgb(165, 121, 55, 0.2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    border: 2px solid rgb(165, 121, 55);
}

#amount {
    width: 100px;
    height: 33px;
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
    border-radius: 10px;
    padding: 7px;
}

.buy input[type=submit] {
        color: bisque;
        background-color: rgb(125, 74, 38);
        border: 2px solid bisque;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        height: 25px;
        width: 60px;
}

.buy input[type=submit]:hover {
        color: rgb(125, 74, 38);
        background-color: bisque;
        border: 2px solid rgb(125, 74, 38);
}

.sell input[type=submit] {
        color: bisque;
        background-color: rgb(125, 74, 38);
        border: 2px solid bisque;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 5px;
        height: 25px;
        width: 60px;
}

.sell input[type=submit]:hover {
        color: rgb(125, 74, 38);
        background-color: bisque;
        border: 2px solid rgb(125, 74, 38);
}

.editbutton {
    color: bisque;
    background-color: rgb(125, 74, 38);
    border: 2px solid bisque;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 25px;
    width: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editbutton a {
    text-decoration: none;
}

.editbutton:hover {
    color: rgb(125, 74, 38);
    background-color: bisque;
    border: 2px solid rgb(125, 74, 38);
}
