* {
    /* background: beige; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: rgb(165, 121, 55);
    padding-bottom: 7px;
    padding-top: 7px;
}

h1 {
    color: rgb(165, 121, 55);
    text-decoration: underline;
    padding-bottom: 20px;
    padding-top: 20px;
}
h3 {
    color: rgb(165, 121, 55);
    padding-bottom: 7px;
    padding-top: 7px;
}
h2 {
    color: rgb(165, 121, 55);
    padding-bottom: 15px;
    padding-top: 15px;
}
p {
    color: brown;
    padding-top: 4px;
    padding-bottom: 4px;
}

ul {
    list-style: none;
}

form {
    color: rgb(212, 212, 212);
}

/* layout css */

#body_wrapper {
    display: grid;
    grid-template-areas: 
    "he"
    "ma"
    "fo"
    ;
    --header_height: 70px;
    --body_height: calc(100vh - var(--header_height));
    grid-template-rows: var(--header_height) minmax(var(--body_height), 1fr); /*might break if the page is made shorter*/
    grid-template-columns: minmax(375, 1fr);

}

header {
    grid-area: he;
    background: rgb(212, 161, 85);
    border-bottom: rgb(165, 121, 55) solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 5px;  */
    /* width: 100vw; */
}

header h1 {
    margin: 15px;
}

header a {
    text-decoration: none;
    color: black;
}

#login_nav_wrapper {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#navlinks {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    padding-top: 20px;
    right: 0px;
    width: 200px;
    align-items: center;
    background: black;
    transition: all 0.5s;
}

#hamburgermenu {
    /* background: pink; */
    padding: 5px;
    /* i want the gaps at the top and sides to be the same size */
}

.hamburgerline {
    width: 35px;
    height: 6px;
    margin: 6px;
    background: black;
}

/* #nav_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    position: absolute;
    top: -90vh;
    right: 0px;
    width: 100%;
    align-items: center;
    background: #6AF9E0;
    transition: all 0.5s;
}
*/
.navactive {
    transform: translateY(90vh);
}

#navlinks li {
    list-style: none;
}

#navlinks a {
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: rgb(212, 161, 85);
    font-size: 2.125rem;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#navlinks a:hover {
    background: none;
    color: antiquewhite;
    background: rgb(165, 121, 55);
    width: 200px;
}

.crossedline #line1 {
    transform: rotate(-45deg) translate(-7px, 10px);
    background: rgb(165, 121, 55);
}

.crossedline #line2 {
    opacity: 0;
}

.crossedline #line3 {
    transform: rotate(45deg) translate(-7px, -10px);
    background: rgb(165, 121, 55);
} 

.login_button {
    background: black;
    color: white;
    padding: 5px;
    height: 30px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-style: bold;
    border-radius: 15px;
}

.login_button:hover {
    background: bisque;
}

main {
    grid-area: ma;
    background-color: bisque;
    padding: 15px;
    /* padding: 10px; */
}